@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-06-12 16:26:03
 * @version $Id$
 */
html,body,h1,h2,h3,h4,h5,h6,p,br,form,input,button,textarea,select,fieldset,legend,blockquote,ul,ol,li,dl,dt,dd,pre,th,td{margin:0;padding:0;}
body{font:14px 'Microsoft YaHei';color:#555;}
a{color:#0088cc;text-decoration:none;outline:none;cursor:pointer;}
a:hover{text-decoration:none;outline:none;}
a:active {star:expression(this.onFocus=this.blur());}
textarea,select,input,button{vertical-align:middle;resize: none;}
textarea{padding: 5px;border-radius: 5px;border:1px solid #E0E0E0;}
button{background:none;border:none;cursor:pointer;}
address,cite,code,em,var,acronym{font-style:normal;}
pre{font-size:14px;text-align:center;white-space:pre-wrap;}
table{border-collapse:collapse;}
div,li,dt,dd,p,pre,td,th{word-wrap:break-word;word-break:break-all;}
ol,ul{list-style:none;}
li{list-style-position:outside;line-height: 20px;}
img,fieldset{border:none;}
input{outline:none;border:none;-webkit-appearance: none;appearance: none;-moz-appearance: none;}
label,input[type="radio"]{cursor: pointer;}
/*全局*/
.color-orange{color: #ff9000!important;}
.red{color: red;}
.ced2727{color:#ed2727!important;}/*橘色*/
.c44b71b{color:#eeb71b!important;}/*绿色*/

.ml10{margin-left: 10px;}
.mb25{margin-bottom: 25px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt50{margin-top: 50px!important;}
.pl10{padding-left:10px;}
.pl15{padding-left: 15px;}
.talign{text-align: right;}
.tleft{text-align:left!important;}
.w100{width:90px!important;}
.vat{vertical-align: top;}
.bgf4{background: #F4F4F4;}
.hide{display:none;}
@media screen and (max-width:350px){
	.w100{width:80px!important;}
	.sq .yanzm{width:27%!important;}
}

/*clear float*/
.clearfix:before,.clearfix:after{content:".";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clearall{overflow:hidden;_zoom:1;}
.clear{clear:both;font-size:0;height:0;line-height:0;}

/*产品介绍*/
.cplist{background: #EBEBEB;width: 100%;display: inline-block;}
.cplist ul{width: 93%;height: auto;margin: 20px auto;}
.cplist ul li{width: 48%;float: left;margin-bottom: 10px;background: #fff;}
.cplist ul li:nth-child(odd){margin-right: 10px;}
.cplist img{width: 100%;height:100px;}
.cplist li h3{font-size: 16px;font-weight: bold;color: #333;margin: 12px 5px 5px 5px;overflow: hidden;white-space: nowrap;}
.cplist li div{font-size: 13px;color: #666;margin: 0 0 12px 5px;overflow: hidden;height: 22px;}
@media screen and (min-width:350px){.cplist img{height:120px;}}
@media screen and (min-width:400px){.cplist img{height:130px;}}

/*产品详情*/
.title{background: #EBEBEB;padding-left: 10px;height: 40px;line-height: 40px;vertical-align: middle;}
.title a{color:#5B5B5B;font-size: 16px;float: left;}
.content{padding:0 10px;}
.content h5{font-size: 16px;color: #ff9000;margin-top: 20px;line-height: 30px;}
.content h6{font-size: 14px;line-height: 30px;}
.content h3{font-size: 14px;height: 30px;line-height: 30px;border-bottom: 3px solid #EBEBEB;padding-left: 5px;margin-bottom: 10px;}
.content h3::after{height: 3px;width: 100px;background: #FF9000;content:' ';display: block;margin-left: -5px;}
.content ul,.content h6+h6{margin-bottom: 25px;}
.content li{height: auto;line-height: 25px;}

/*常见问题*/
.reqList li{list-style:none;margin-top: 5px;padding:0 0 9px;border-bottom: 1px solid #E5E5E5;}
.reqList li h3{cursor:pointer;font-weight: 100;color: #000; padding: 6px 10px;}
.reqInfo {display:none;}
.reqInfo p{line-height: 25px; padding: 0px 15px;color: #989898;}

 /*货款申请*/
.sq .title h3{display: inline-block; padding: 0 15px;font-weight: normal;margin: 0 28px;}
.sq .title h3.current{color: #ff9000;border-bottom: 3px solid #ff9000;bottom: 2px; position: relative;}
.sq table{width: 100%;}
.sq table tr{border-bottom: 1px solid #F3F3F3;}
.sq td{line-height: 40px;padding: 5px 8px;position: relative;text-align:right;}
.sq tr td:first-child{width: 40%;text-align:left;}
.sq img{width: 20px;position: absolute;top: 15px;right: 10px;}
.sq p{text-align: center;}
.sq p a{display: block;width:90%;line-height:45px;background: #ff9000;border-radius: 3px;margin: 10px auto;color:#fff;margin-top: 50px;max-width: 380px;opacity: 0.3;}
/* .sq p a:active{background: #F6900B;color: #fff;border: none;} */
.sq span{color:#A9A9A9;font: 12px Tahoma; padding-right: 25px;}
.sq input[type="text"]{width: 80%;height:100%;padding: 0 5px;border:none;text-align:right;}
.sq input[type="tel"]{width: 80%;height:100%;padding: 0 5px;border:none;text-align:right;}
.sq input::-webkit-input-placeholder {text-align: right;}
.sq input::-moz-placeholder {text-align: right;} /* firefox 19+ */
.sq input::-ms-input-placeholder {text-align: right;} /* ie */
.sq input:-moz-placeholder {text-align: right;}
.sq .yanzm{background: #ff9000;opacity: 0.3;width:25%;text-align:center;color:#fff;}
.btn_yanzm{background: #E4E4E4;border: none;color: #6B6B6B;}
.sq select{width: 80%;height: 100%;border:none;}
.rz_fq{width: 100px;height: 35px;border: 1px solid #ff9000;border-radius: 31px;margin: 5px;display: inline;padding: 11px 1px;}
.rz_fq i{display: inline;padding: 10px 20px;text-align: center;color: #F55806;font-style: normal;}
.rz_fq i.current{border-radius: 30px;background: #ff9000;color:#fff;}

/*下拉选择框*/
/*.selectlist{background: #F0F0F0;overflow: hidden;}*/
.selectlist .search{height: 50px;text-align: center;background: #F0F0F0;left: 0;position: absolute;width: 100%;line-height: 50px;}
.selectlist .search input[type="text"]{width: 85%;padding:10px;border: none;border-radius: 5px;box-shadow: 0 1px 6px rgba(0,0,0,0.1);}
.chzn-results{overflow: scroll;height: 99%;margin-top: 50px;}
.chzn-results ul li{line-height: 25px;border-bottom: 1px solid #E3E3E3;padding: 10px;}
.selectleft{position: fixed;right: 5px;top: 55px;font-size: 13px;padding-right: 10px;}
.selectleft ul li{width: 15px;text-align: center;}
.selectleft ul li a{color: #7A7A7A;}
@media screen and (min-height: 400px){.selectleft ul li{line-height: 16px;}}
@media screen and (min-height: 500px){.selectleft ul li{line-height: 19px;}.mh{min-height:580px!important;}}
@media screen and (min-height: 600px){.selectleft ul li{line-height: 23px;font-size: 14px;}.mh{min-height:680px!important;}}
@media screen and (min-height: 700px){.mh{min-height:750px!important;}}

/*还款计划查询结果*/
.hkinfo{background: #ff9000;height: 120px;text-align: center;}
.hkinfo h3{color: #fff;padding: 15px 0;}
.hkinfo span{display: block;color: #582900;line-height: 22px;}
.hkresult table{width: 100%;}
.hkresult tr:first-child{border-bottom: none;}
.hkresult tr{border-bottom: 1px solid #dbdbdc;}
.hkresult tr th{background: #ebebeb;border-left: 1px solid #bcbcbc;font-size: 15px;}
.hkresult tr th,.hkresult tr td{height: 40px;text-align: center;color: #343434;}
.hkfoot{text-align: center;padding-top: 50px;}
.hkfoot span{color: #949494;}

/*申请进度查询结果*/
.sqresult .title h3{padding-left: 80px;display: inline-block;color:#ff9000;padding-right: 20px;}
.sqlist{margin:20px 0;}
.sqresult .sqlist ul li{background: url(../images/jindu2.png) no-repeat;height: 80px;position: relative;left: 150px;}
.sqresult .sqlist ul li:last-child{height: 22px;}
.sqlist ul li.current{background: url(../images/jindu1.png) no-repeat;}
.sqlist div{position: absolute;left: -160px;text-align: right;width: 150px;top: -5px;}
.sqlist p{position: absolute;left: 30px;top: 2px;}
@media screen and (min-width: 350px){.sqresult .sqlist ul li{left: 170px;}}
@media screen and (min-width: 400px){.sqresult .sqlist ul li{left: 190px;}}

/*融资计算结果*/
.mh{min-height: 480px;}
.sq .js_money{padding:10px 0;height:50%;background:#fff;}
.sq .js_money tr{border-bottom:none;}
.sq .js_money td{padding:0;line-height: 35px;}
.sq .js_money td:first-child{font-size:16px;font-weight:bold;color:#434343;padding-left: 50px;width: 50%;}
.sq .js_money td:last-child{padding-right:40px;}
.sq .js_money label{color:#F9A53A;font-size: 20px;}
.js_name{background:#EBEBEB;padding:10px 0;width: 100%;}
.js_name li{line-height:28px;padding-left: 50px;}
.js_name span{padding-right:5px;color:#5C5C5C;}
.js_name label{color:#353535;font-size:14px;}

/*申请提前还贷*/
.sq_back h3{font-size: 14px;height: 30px;line-height: 30px;border-bottom: 3px solid #EBEBEB;margin-bottom: 10px;margin-left: 15px;}
.sq_back span{border-bottom: 3px solid #ff9000;padding: 5px;height: 30px;}
.sq_back table,.sq_change table{margin-bottom: 10px;}
.sq_back table tr td,.sq_change table tr td{height:28px;line-height:28px;}
.sq_back table tr td:first-child,.sq_change table tr td:first-child{width:120px;padding-left: 15px;}
.sq_back .back_remark{text-align: left;width:90%;display:inline-block;line-height: 25px;color: #848484;padding-right: 5px;}
.sq_back .sqInfo{height:102px;}
.sq_back .sqInfo h4{margin-left:60px;font-size:20px;font-weight:normal;color:#343434;padding: 20px 0 10px;/* padding-bottom: 10px; */}
.sq_back .sqInfo label{margin-left:60px;font-size:18px;font-weight:normal;color:#595959;/* padding-top: 20px; */}
.sq_back .backUl{background:#fff;}
.sq_back .backUl li{border-bottom:1px solid #DBDBDC;padding: 20px 0px;}
.sq_back .backUl li:active{background:#ebebeb;}
.sq_back .backUl .xuh{border-radius: 50%;height:35px;width:35px;background:#FF6709;display: inline-block;line-height:35px;text-align:center;color:#fff;vertical-align: top;margin-left: 10px;}
.sq_back .hetab{display:inline-block;margin-left: 15px;}
.sq_back .hetab td:first-child{width:100px;padding-left: 0px;}

.sq_success{margin:100px auto;text-align: center;}
.sq_success img{width:30%;}
.sq_success p{color:#595959;font-size:20px;margin-top: 10px;}

.wz_text p,.wz_text div{padding-left: 8px; padding-right: 5px;text-indent: 2em;line-height:25px;}
.wz_content{line-height: 25px;}
.wz_content img{margin: 0 auto;}

/*还款卡变更*/
.change_upload{margin:15px 0;}
.change_upload label{color: #F8A641;}
.change_upload ul{width: 80%;margin: 15px auto;}
.change_upload ul li{float: left;width: 45%;height: 100px;line-height: 100px; margin-left: 10px;border: 1px solid #E3E3E3;text-align: center;}
.change_upload img{vertical-align: middle;}
.tishi{text-align: center;color: #BBBBBB;}
.tishi a{color:#F8A641; }

/*复选框样式*/
.check-box{width: 18px;height: 18px;cursor: pointer;display: inline-block;margin-top: 3px;overflow: hidden;border: 1px solid #A4AFC0;position: relative;}
.remark input[type="checkbox"] { visibility: hidden;}
.check-box i {background: url(../images/check_mark.png) no-repeat center center;position: absolute;left: 3px;bottom: -15px;width: 13px;height: 13px;opacity: .5;
  -webkit-transition: all 400ms ease-in-out;-moz-transition: all 400ms ease-in-out;-o-transition: all 400ms ease-in-out;transition: all 400ms ease-in-out;webkit-transform: rotateZ(-180deg);
  -moz-transform: rotateZ(-180deg);-o-transform: rotateZ(-180deg);transform: rotateZ(-180deg);}
.checkedBox {-moz-box-shadow: inset 0 0 5px 1px #ccc;-webkit-box-shadow: inset 0 0 5px 1px #ccc;box-shadow: inset 0 0 5px 1px #ccc;}
.checkedBox i {bottom: 2px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}

/**/
.input_txt{height: 35px;line-height: 35px;min-width: 170px;width: 75%;}
.select_btn{height: 35px;line-height: 35px;min-width: 175px;width: 76%;}

/*申请按钮*/
.sq_btn{text-align: center;}
.sq_btn a{display: block;width:90%;line-height:45px;background: #ff9000;border-radius: 3px;margin: 10px auto;color:#fff;margin-top: 50px;max-width: 380px;}

/*table*/
.tab{margin:15px 5px;width: 100%;}

/*上传文件*/
.hideFilet {background: none repeat scroll 0 0 transparent;FILTER: alpha(opacity=0);border: medium none;cursor: pointer;height: 200px;width: 100%;top: -50px;opacity: 0;position: absolute;font-size: 100px;left: -3px;}
.soundFileed {display: block;margin: 0px;padding: 0px;position: absolute;z-index: 300;width:100%;}

/* 法拉利我来买 */
.buybox{background: url(../images/img_buy.png) no-repeat 0 0;background-size: cover;}
.buyIpt{text-align: center;padding-top: 4.5rem;}
.buyIpt h3{font-size:20px;color:#fff;margin-bottom:2rem;letter-spacing: 1px;}
.buyIpt dl{width: 90%;margin:0 auto;background:#fff;height: 45px;line-height: 45px;border-radius: 3px;display:-webkit-flex;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.buyIpt dl dt{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;color: #222;}
.buyIpt dl dd{-webkit-box-flex: 4;-webkit-flex: 4;flex: 4;text-align: left;}
.buyIpt dl dd input[type="text"]{border:none;}
.sq_btn.buy-btn a{background:#ff5e3e;margin-top:30px;}

/*激活*/
.banner{width: 100%;height: auto;overflow: hidden;}
.banner img{width: 100%;height: auto;}
.contentWrap{width: 100%;}
.contentWrap .chsTop{width: 100%;border-bottom: 2px solid #f1f0f0;background: #f3f2f2;}
.contentWrap .chsTop>div{color:#444;width:50%;float: left;font-size: 1.2rem;line-height:3rem;text-align: center;margin-bottom: -2px;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(255,255,255,0);}
.contentWrap .chsTop>div.active span{border-bottom: 4px solid #ffb42e;}
.contentWrap .chsTop>div span{display: block;width: 60%;text-align: center;margin:0 auto;}
.contentWrap .mainContent .mcWrap{margin:0 1.25rem;}
.mapLoad{display: flex;display: -webkit-box;display: -webkit-flex;-webkit-box-align: center;-moz-box-align: center;-ms-box-align: center;-o-box-align: center;box-align: center;}
.mapLoad span{font-size: 1.0875rem;color:#dd8484;flex:1;-webkit-box-flex:1;-webkit-box-align: center;-moz-box-align: center;-ms-box-align: center;-o-box-align: center;box-align: center;display: -webkit-box;display: -moz-box;display: -ms-box;display: -o-box;display: box;}
.mapLoad .mapLocation,.mapLoad .mapRefresh{width:2rem;height:3rem;}
.mapLoad .mapLocation:before{content: ' ';background: url(../images/icon_location.png) no-repeat 0 center;display: block;width: 2rem;height:3rem;background-size: 1.025rem;}
.mapLoad .mapRefresh:before{content: ' ';background: url(../images/icon_refresh.png) no-repeat right center;display: block;width:2rem;height:3rem;background-size: 1.025rem;}
.mainContent .mcWrap .mcItem{width: 100%;height:3.5rem;line-height:3.5rem;border-bottom: 1px solid #cfcece;}
.mainContent .mcWrap .mcItem input{font-size: 1.0875rem;width: 100%;font-family: '微软雅黑';-webkit-appearance: none;appearance: none;-moz-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(255,255,255,0);}
.picContent{margin:10px 0;}
.picContent h1{font-size:1.0875rem;line-height: 2.5rem;color:#666;font-weight: normal;}
/*.picContent h1>em{line-height: 1.2rem;}*/
.picContent .picLoad{display:flex;display: -webkit-box;display: -webkit-flex;}
.picContent .picLoad .imgView.img_2{margin:0 10px;}
.picContent .picLoad .imgView{display: inline-block;position: relative;flex:1;-webkit-box-flex:1;}
.picContent .picLoad .imgView.img_1 .upLoadImg{background:url(../images/icon_camera1.png) no-repeat center center;background-size:2rem; border:1px solid #cfcece;}
.picContent .picLoad .imgView.img_2 .upLoadImg{background:url(../images/icon_camera2.png) no-repeat center center; background-size:2rem;border:1px solid #cfcece;}
.picContent .picLoad .imgView.img_3 .upLoadImg{background:url(../images/icon_camera3.png) no-repeat center center; background-size:2rem;border:1px solid #cfcece;}
.picContent .picLoad .imgView input{width: 100%;height: 100%;opacity: 0;filter: alpha(opacity=0);cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(255,255,255,0);}
.picContent .picLoad .imgView .upLoadImg{box-sizing: border-box;overflow: hidden;padding:0.45rem;position: relative;}
.picContent .picLoad .imgView .upLoadImg>div{width: 100%;padding: 50% 0;position: relative;overflow: hidden;}
.picContent .picLoad .imgView .upLoadImg img{width: 100%;height:auto;vertical-align: middle;border-style:none;border-width: 0;position: absolute;left: 0;top:0;}
.picContent .picLoad .imgView .tipsImg{border:1px solid #cfcece;margin-top: -1px;padding: 0.45rem}
.picContent .picLoad .imgView .tipsImg img{width: 100%;vertical-align: middle;}
.imgTips{text-align: center;color:#bebcbc;line-height:24px;margin-top: 5px;font-size: 0.875rem;}

.btnBox{margin:2rem 1.25rem 1.25rem;}
.btnBox.s-btn,.s-mark{margin:0 5% .5rem;}
.btnBox .btnSubmit{border-radius: 3px;width: 100%;-webkit-appearance: none;appearance: none;-moz-appearance: none;outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(255,255,255,0);background: #ffb42e;color:#fff;height: 45px;line-height: 45px;font-size:1.2rem;font-family:'Microsoft YaHei';}
.popUp{background: #000;opacity: 0.6;border-radius: 5px;width:10rem;height: 4rem;position: fixed;line-height: 4rem;text-align: center;top:30%;left: 50%;margin-left:-5rem;}
.popUp .pop-Tips{color:#fff;}
.btnBox .btnSubmit:active{background:#f0a71e;}

/* 激活查询 */
.s-form-search{width:90%; margin:50px auto 60px;}
.s-form-search dl{margin-bottom:20px;display:-webkit-flex;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.s-form-search dl dt,.s-form-search dl dd{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}
.s-form-search dl dt{border:1px solid #cfcece;border-radius: 3px;background:#F1F0F0;height: 45px;line-height: 45px;padding-left: 10px;}
.s-form-search .s-input{width: 100%;font-size:1rem;background:#F1F0F0;font-family:'Microsoft YaHei';}
.s-form-search .s-code,.s-form-search .a-code{height: 47px;line-height: 47px;text-align:center;width: 100%;border-radius:3px;-webkit-appearance: none;appearance: none;-moz-appearance: none;outline: none;font-family:'Microsoft YaHei';}
.s-form-search .s-code{background:#ECEDED;color:#E7880C;font-weight:bold;letter-spacing: 5px;font-size: 1.4rem;}
.s-form-search .a-code{background:#FEE0A5;color:#333;font-size:1rem;}
.s-result{width:90%; background:#F1EFF0;border:1px solid #C6C4C5;border-radius: 3px;padding:20px 0;margin:10px auto 0;}
.s-result dl{line-height:2;display:-webkit-flex;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.s-result dl dt{color:#333;text-align:right;width:30%;}
.s-result dl dd{color:#6A6868;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;padding-left:10px;}
.s-mark{text-align:center;color:#C3C1C1;font-size:.8rem;}
.s-mark .mark{color:#cc9999;font-size:.92rem;padding-bottom:1.5rem;}
.searchWrap{padding: 20px 0;}
.searchbox{width: 90%;box-sizing:border-box;margin:0px auto;display: -webkit-box;display: -moz-box;display: -ms-box;display: -o-box;display: box;}
.searchbox .s-put{width:100%;margin: 0 auto;background: #fff;border-bottom: 1px #aaa8a8 solid;display: flex;display: -webkit-box;display:-webkit-flex;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;}
.searchbox .s-put.s-center .ipt-search{text-align:center;background-image:url('../images/icon_search.png');background-repeat:no-repeat;background-position: 28% 50%;background-size: 6%;padding-left: 35px;}
.searchbox .icon-search{padding:0 10px;display:block;line-height: 0rem;}
.searchbox .icon-search img{max-width:1.125rem;}
.searchbox .ipt-search{background: #fff;display: block;-moz-box-flex: 1;-webkit-box-flex: 1;-ms-flex: 1;box-flex: 1;flex: 1;padding:.8rem 0;font-size: 1rem;height:.8rem;border:none;}
.searchbox .search-btn{color:#479707;width:15%;font-size:1rem;text-align:center;}
.refresh-btn{color:#FFB42E;border:1px solid #FFB42E;border-radius: 8px;padding: 4px 8px;margin-left: 10px;}

/*toast弹框*/
#toast{position: fixed; bottom: 50px;left: 50%;width: 200px; margin-left: -100px;background-color: #eef0f0;padding: 10px 0; text-align:center;opacity: .9;color:red;-webkit-transition: opacity 0.5s ease-out;-moz-transition: opacity 0.5s ease-out; -ms-transition: opacity 0.5s ease-out;-o-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out;}


@media screen and (min-width: 800px){
  html{font-size: 110%!important;}
}

@media screen and (max-width:375px){
  html{font-size:87.5%!important;}
}